{% extends 'admin/master.html' %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/home.css') }}">
{{ super() }}
{% if not current_user.is_authenticated %}
<style>
    body{
        background: linear-gradient(132deg, rgb(65, 80, 95) 0.00%, rgb(36, 37, 38) 100.00%);
    }
    .navbar-nav li:first-child{
        display: block;
        }
</style>
<div class="containerBody">
    <img alt="PetBiotech logo" src="{{ url_for('static', filename='image/logo12.png') }}">
    <p>This is a confidential site.</p>
    <p>Your activity will be Monitored</p>
    <div class="loginTab">
        <a class="btn btn-primary" href="{{ url_for('security.login') }}">
            Login
        </a>
    </div>
</div>
<script>
    document.querySelector('.navbar').style.display = "none";
    document.querySelector('body').style.display = "flex";
</script>
{% else %}
<style>
    body {
        background-color: #ffffff;
    }
</style>
<head>

</head>
<div class="dashboard">
    <div class="leftDashboard">
        <div class="dashBoardNavbar">
            <button onclick="showGraph(1)">Location statistics</button>
            <button onclick="showGraph(2)">Order History</button>
            <!-- <button onclick="showGraph(3)">Tests statistics</button> -->
        </div>
        <div class="graphBody graphBody1" id="graphBody1">
            <i class="fa-solid fa-spinner spinner1"></i>
        </div>
        <div class="graphBody graphBody2" id="graphBody2">
            <div class="calenderGraphBody" id="calenderGraphBody"></div>
        </div>
        <div class="graphBody graphBody3" id="graphBody3">
            <canvas id="myCanvas3"></canvas>
        </div>
    </div>
    <div class="centerDivider">.</div>
    <div class="rightDashboard">
        <div class="cards card1">
            <button class="numberCount">{{ dashBoardCountData['totalOrders'] }} +</button>
            <p class="title">Orders</p>
        </div>
        <div class="cards card2">
            <button class="numberCount">{{ dashBoardCountData['totalTests'] }} +</button>
            <p class="title">Tests</p>
        </div>
        <div class="cards card3">
            <button class="numberCount">{{ dashBoardCountData['positiveResults'] }} +</button>
            <p class="title">Positive Tests</p>
        </div>
    </div>
</div>
  <script src="https://kit.fontawesome.com/f72c18304b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-calendar.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-data-adapter.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.18.2.min.js"></script>
<script>
    const showGraph = (n) => {
        let graphBlock = document.querySelectorAll(".graphBody");
        graphBlock.forEach(element => {
            element.style.display = "none";
        });
        if(n==1){
            document.getElementById("graphBody" + n).style.display = "flex";
        }else{
            document.getElementById("graphBody" + n).style.display = "block";
        } 
    }

    // Charts
    var trace1 = {
    x: [{% for row in location_data %}'{% if row[0] %}{{row[0]}}{% else %}Other{% endif %}',{% endfor %}],
    y: [{% for row in location_data %}{{row[1]}}{% if not loop.last %},{% endif %}{% endfor %}],
    name: 'Positive',
    type: 'bar',
    marker: {color: '#FF4052'}
    // maeker: {color:'linear-gradient(top, #C7B9FF, #FFFBF1)'}
    };

    var trace2 = {
    x: [{% for row in location_data %}'{% if row[0] %}{{row[0]}}{% else %}Other{% endif %}',{% endfor %}],
    y: [{% for row in location_data %}{{row[2]}}{% if not loop.last %},{% endif %}{% endfor %}],
    name: 'Negative',
    type: 'bar',
    marker: {color: '#00FF92'}
    };

    var trace3 = {
    x: [{% for row in location_data %}'{% if row[0] %}{{row[0]}}{% else %}Other{% endif %}',{% endfor %}],
    y: [{% for row in location_data %}{{row[3]}}{% if not loop.last %},{% endif %}{% endfor %}],
    name: 'Null',
    type: 'bar',
    marker: {color: '#E425F0'}
    };

    var trace4 = {
    x: [{% for row in location_data %}'{% if row[0] %}{{row[0]}}{% else %}Other{% endif %}',{% endfor %}],
    y: [{% for row in location_data %}{{row[4]}}{% if not loop.last %},{% endif %}{% endfor %}],
    name: 'Total',
    type: 'line',
    marker: {color: '#ffffff'}
    };

    var data = [trace3, trace2, trace1,trace4];
    var layout = {
        barmode: 'stack',
        plot_bgcolor: 'transparent',
        paper_bgcolor: '#151515',
        hovermode:'x',
        font:{
            color:'#ffffff'
        }
    };
    var config = {responsive: true};
    function removeLoader(){
        document.querySelector(".spinner1").style.display="none";
    }
    Plotly.newPlot('graphBody1', data, layout, {scrollZoom: true},config,removeLoader());
    // 
    // 
    // 
    // 
    // Graph for date and order orderDateData
    anychart.onDocumentReady(function() {
    // Create the calendar chart
    var chart = anychart.calendar();

    // Set the data
    var data = {{ orderDateData|tojson }};
    chart.data(data);
    // Set the container where the chart will be displayed
    chart.container("calenderGraphBody");
    chart.listen('chartDraw', function() {
        document.getElementById('calenderGraphBody').style.height = chart.getActualHeight() + 'px';
    });
    // configure days
    var days = chart.days();
    days.hovered().fill("#FF3808");
    days.normal().stroke("#15151500");
    days.hovered().stroke("#FF0000");
    days.noDataFill("#f4f4f4");
    days.noDataHatchFill(null);
    days.noDataStroke("#151515");
    days.spacing(5);
    // configure weeks
    var weeks = chart.weeks();
    weeks.showWeekends(true);
    weeks.labels().fontColor("#8200EA");
    weeks.labels().fontWeight(600);
    weeks.labels().fontStyle('regular');
    weeks.rightSpace(10);
    // configure months
    var months = chart.months();
    months.stroke("#0767B1", 2);
    months.noDataStroke("#808080",1);
    months.labels().fontColor("#151515");
    months.labels().fontWeight(600);
    months.labels().fontStyle('regular');
    months.underSpace(5);
    // configure years
    years = chart.years();
    years.inverted(true);
    years.background("#f4f4f4");
    years.title().fontColor("#151515");
    years.title().fontSize(24);
    years.title().fontWeight(600);
    years.underSpace(20);
    // create and configure a color scale.
    var customColorScale = anychart.scales.ordinalColor();
    //configure a custom color scale
    customColorScale.ranges([
    {less: 15},
    {from: 15, to: 30},
    {greater: 30},
    ]);
    customColorScale.colors(["#80bdef", "#317dba", "#01579b"]);

    // set the color scale as the color scale of the chart
    chart.colorScale(customColorScale);

    // configure the color range
    chart.colorRange().length("90%");
    // Draw the chart
    chart.draw();
    });
</script>



{% endif %}
{% endblock body %}