{% extends 'admin/master.html' %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/home.css') }}">
{{ super() }}
{% if not current_user.is_authenticated %}
<style>
    body{
        background: linear-gradient(132deg, rgb(65, 80, 95) 0.00%, rgb(36, 37, 38) 100.00%);
    }
    .navbar-nav li:first-child{
        display: block;
        }
</style>
<div class="containerBody">
    <img alt="PetBiotech logo" src="{{ url_for('static', filename='image/logo12.png') }}">
    <p>This is a confidential site.</p>
    <p>Your activity will be Monitored</p>
    <div class="loginTab">
        <a class="btn btn-primary" href="{{ url_for('security.login') }}">
            Login
        </a>
    </div>
</div>
<script>
    document.querySelector('.navbar').style.display = "none";
    document.querySelector('body').style.display = "flex";
</script>
{% else %}
<a href="/admin/dashboard" id="button" style="display: none;"></a>
<script>
    document.getElementById("button").click();
</script>
{% endif %}
{% endblock body %}