{% extends 'admin/master.html' %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static',filename='style/createTests.css') }}">
<form method="POST" class="form-horizontal createTestForm" id="createTestForm">
  <div class="leftForm formDiv">
    <div class="form-group">
      <div class="col-xs-8">
        <input id="testid" name="testid" type="text" required="required" class="form-control" disabled
          style="display: none;">
      </div>
    </div>
    <div class="form-group">
      <label for="username" class="control-label col-xs-4">Owner Name <span
          style="color: red; font-size: 16px;">*</span></label>
      <div class="col-xs-8">
        <input id="username" name="username" placeholder="Customer Name" type="text" required="required"
          class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="clinicname" class="control-label col-xs-4">Clinic Name</label>
      <div class="col-xs-8">
        <input id="clinicname" name="clinicname" placeholder="Clinic/Referral Name" type="text" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="phno" class="control-label col-xs-4">Phone No <span
          style="color: red; font-size: 16px;">*</span></label>
      <div class="col-xs-8">
        <input id="phno" name="phno" placeholder="Phone Number" type="number" required="required" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="petname" class="control-label col-xs-4">Pet Name</label>
      <div class="col-xs-8">
        <input id="petname" name="petname" placeholder="Pet Name" type="text" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="breed" class="control-label col-xs-4">Breed</label>
      <div class="col-xs-8">
        <input id="breed" name="breed" placeholder="Breed" type="text" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="age" class="control-label col-xs-4">Age</label>
      <div class="col-xs-8">
        <input id="age" name="age" placeholder="Pet's Age" type="number" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="species" class="control-label col-xs-4">Species <span
          style="color: red; font-size: 16px;">*</span></label>
      <div class="col-xs-8">
        <select id="species" name="species" required="required" class="select form-control">
          <option value="Canine">Canine</option>
          <option value="Feline">Feline</option>
          <option value="Equine">Equine</option>
          <option value="Avian">Avian</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="checkbox" class="control-label col-xs-4">Booked Tests <span
          style="color: red; font-size: 16px;">*</span></label>
      <div class="col-xs-8">
        <label class="checkbox-inline">
          <input type="checkbox" name="testBox1" checked="checked" value="rabbit" id="testBox1" class="testBox testBox1">
          Rabbit
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="sample" class="control-label col-xs-4">Sample Required <span
          style="color: red; font-size: 16px;">*</span></label>
      <div class="col-xs-8">
        <select multiple="multiple" id="sample" name="sample" required="required" class="select form-control"
          aria-describedby="sampleHelpBlock">
          <option value="Blood">Blood</option>
          <option value="Fluid">Fluid</option>
          <option value="Swab">Swab</option>
        </select>
        <span id="sampleHelpBlock" class="help-block">Press ctrl to select multiple samples.</span>
      </div>
    </div>
    <div class="form-group">
      <label for="amount" class="control-label col-xs-4">Amount<span
          style="color: red; font-size: 16px;">*</span></label>
      <div class="col-xs-8">
        <input id="amount" name="amount" placeholder="Amount to be Paid" type="number" class="form-control"
          required="required">
      </div>
    </div>
  </div>
  <div class="rightForm formDiv">
    <div class="form-group">
      <label for="state" class="control-label col-xs-4">State <span
          style="color: red; font-size: 16px;">*</span></label>
      <div class="col-xs-8">
        <select id="state" name="state" class="select form-control" required="required">
          <option value="Andhra Pradesh">Andhra Pradesh</option>
          <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
          <option value="Arunachal Pradesh">Arunachal Pradesh</option>
          <option value="Assam">Assam</option>
          <option value="Bihar">Bihar</option>
          <option value="Chandigarh">Chandigarh</option>
          <option value="Chhattisgarh">Chhattisgarh</option>
          <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
          <option value="Daman and Diu">Daman and Diu</option>
          <option value="Delhi">Delhi</option>
          <option value="Lakshadweep">Lakshadweep</option>
          <option value="Puducherry">Puducherry</option>
          <option value="Goa">Goa</option>
          <option value="Gujarat">Gujarat</option>
          <option value="Haryana">Haryana</option>
          <option value="Himachal Pradesh">Himachal Pradesh</option>
          <option value="Jammu and Kashmir">Jammu and Kashmir</option>
          <option value="Jharkhand">Jharkhand</option>
          <option value="Karnataka" selected>Karnataka</option>
          <option value="Kerala">Kerala</option>
          <option value="Madhya Pradesh">Madhya Pradesh</option>
          <option value="Maharashtra">Maharashtra</option>
          <option value="Manipur">Manipur</option>
          <option value="Meghalaya">Meghalaya</option>
          <option value="Mizoram">Mizoram</option>
          <option value="Nagaland">Nagaland</option>
          <option value="Odisha">Odisha</option>
          <option value="Punjab">Punjab</option>
          <option value="Rajasthan">Rajasthan</option>
          <option value="Sikkim">Sikkim</option>
          <option value="Tamil Nadu">Tamil Nadu</option>
          <option value="Telangana">Telangana</option>
          <option value="Tripura">Tripura</option>
          <option value="Uttar Pradesh">Uttar Pradesh</option>
          <option value="Uttarakhand">Uttarakhand</option>
          <option value="West Bengal">West Bengal</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="city" class="control-label col-xs-4">City <span style="color: red; font-size: 16px;">*</span></label>
      <div class="col-xs-8">
        <input id="city" name="city" placeholder="City" type="text" class="form-control" required="required">
      </div>
    </div>
    <div class="form-group">
      <label for="address" class="control-label col-xs-4">Address <span
          style="color: red; font-size: 16px;">*</span></label>
      <div class="col-xs-8">
        <textarea id="address" name="address" cols="40" rows="5" required="required" class="form-control"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="pincode" class="control-label col-xs-4">Pin Code <span
          style="color: red; font-size: 16px;">*</span></label>
      <div class="col-xs-8">
        <input id="pincode" name="pincode" placeholder="Pin Code" type="number" class="form-control"
          required="required">
      </div>
    </div>
    <div class="form-group" style="display: flex;margin-top: 25px;">
      <div class="col-xs-offset-4 col-xs-4">
        <button name="submit" id="submit-btn" type="submit" class="btn btn-primary"
          onclick="onSubmitForm()">Create</button>
      </div>
      <div class="col-xs-offset-0 col-xs-4">
        <button name="reset" type="reset" class="btn btn-danger">Reset</button>
      </div>
    </div>
  </div>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static',filename='script/createTest.js') }}"></script>
{% endblock body %}
<!-- 
  // // Get the form element
  // var form = document.getElementById("createTestForm");

  // // Listen for the form's submit event
  // form.addEventListener("submit", function (event) {
  // event.preventDefault();

  // // Get the form data
  // var data = new FormData(form);

  // // Create an XMLHttpRequest object
  // var xhr = new XMLHttpRequest();

  // // Open the request and set the method to "POST"
  // xhr.open("POST", "/submit", true);

  // // Send the request with the form data
  // xhr.send(data);
  // });

  # @app.route("/submit", methods=["POST"])
  # def submit():
  # # Get the form data
  # data = request.form

  # # Do something with the data, like calling a function
  # generate_id(data)
  # # process_data(data)

  # return "Data received"
 -->