{% extends 'admin/master.html' %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static',filename='style/createTests.css') }}">
<form method="POST" class="form-horizontal createTestForm" id="createTestForm" autocomplete="off"
  onsubmit="formReset()">
  <div class="leftForm formDiv">
    <div class="form-group">
      <!-- <span style="color: red; font-size: 16px;">*</span> -->
      <label for="sampleCode" class="control-label col-xs-4">Sample Code </label>
      <div class="col-xs-8">
        <input id="sampleCode" name="sampleCode" placeholder="Sample Code" type="text" required="required"
          class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="username" class="control-label col-xs-4">Client Name </label>
      <div class="col-xs-8">
        <input id="username" name="username" placeholder="Customer Name" type="text" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="clinicname" class="control-label col-xs-4">Pet Name</label>
      <div class="col-xs-8">
        <input id="clinicname" name="clinicname" placeholder="Sample name/pet name" type="text" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="clinicBackground" class="control-label col-xs-4">Sample Description</label>
      <div class="col-xs-8">
        <textarea id="clinicBackground" name="clinicBackground" placeholder="Sample Description" class="form-control"
          style="min-height: 150px;"></textarea>
      </div>
    </div>
    <!-- <div class="form-group">
      <label for="petname" class="control-label col-xs-4">Pet Name</label>
      <div class="col-xs-8">
        <input id="petname" name="petname" placeholder="Pet Name" type="text" class="form-control">
      </div>
    </div> -->
    <div class="form-group">
      <label for="breed" class="control-label col-xs-4">Breed</label>
      <div class="col-xs-8">
        <input id="breed" name="breed" placeholder="Breed" type="text" class="form-control">
      </div>
    </div>
    <div class="form-group" style="display: flex;justify-content: center;align-items: flex-start;">
      <label class="control-label col-xs-4">Gender</label>
      <div class="col-xs-8" style="cursor: pointer;">
        <input type="radio" name="gender" value="Male" id="male" style="margin-right: 5px;" checked><label for="male"
          style="cursor: pointer;">Male</label>
        <br><input type="radio" name="gender" value="Female" id="female" style="margin-right: 5px;"><label for="female"
          style="cursor: pointer;">Female</label>
        <br><input type="radio" name="gender" value="Others" id="others" style="margin-right: 5px;"><label for="others"
          style="cursor: pointer;">Others</label>
      </div>
    </div>
    <!-- <div class="form-group">
      <label for="age" class="control-label col-xs-4">Age</label>
      <div class="col-xs-8">
        <input id="age" name="age" placeholder="Pet's Age" type="text" class="form-control">
      </div>
    </div> -->
    <div class="form-group" style="display:none">
      <label for="number" class="control-label col-xs-4">No of tests </label>
      <div class="col-xs-8">
        <input type="number" name="no_of_test" id="no_of_test" class="form-control no_of_test">
      </div>
    </div>
  </div>
  <!-- Middle Form -->
  <!-- 







   -->
  <div class="middleForm formDiv">
    <!-- Age -->
    <div class="form-group">
      <label for="age" class="control-label col-xs-2">Age</label>
      <div class="col-xs-10">
        <input id="age" name="age" placeholder="Pet's Age" type="text" class="form-control">
      </div>
    </div>
    <!-- species -->
    <div class="form-group">
      <p class="col-xs-12" style="font-weight: bolder;">Species</p>
      <div class="col-xs-12">
        <select id="species" name="species" required="required" class="select form-control" onchange="newSpecies()">
          {% for row in speciesData %}
          <option value="{{ row[1] }}">{{ row[1] }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group" id="otherSpeciesInput" style="display:none;">
      <label for="otherSpecies" class="control-label col-xs-12" style="text-align: left;color:rgb(0, 94, 255);">Other
        Species </label>
      <div class="col-xs-12">
        <input id="otherSpecies" name="otherSpecies" placeholder="Other Species" type="text" class="form-control">
      </div>
    </div>
    <!-- specimens -->
    <div class="form-group">
      <p class="col-xs-12" style="font-weight: bolder;">Specimens</p>
      <div class="col-xs-12">
        <select id="sample" name="sample" required="required" class="select form-control"
          aria-describedby="sampleHelpBlock" onclick="newSpecimen()">
          {% for row in specimenData %}
          <option value="{{ row[1] }}">{{ row[1] }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group" id="otherSpecimenInput" style="display:none;">
      <label for="otherSpecimen" class="control-label col-xs-12" style="text-align: left;color:rgb(0, 94, 255);">Other
        Specimens </label>
      <div class="col-xs-12">
        <input id="otherSpecimen" name="otherSpecimen" placeholder="Other Species" type="text" class="form-control">
      </div>
    </div>
    <!-- 




     -->
    <!-- tests -->
    <div class="form-group" id="testBlockBody">
      <p class="col-xs-12" style="font-weight: bolder;">Tests</p>
      <div class="col-xs-8 testBlock" id="testBlock">
        <!-- the tests -->
        <!-- <div class="miniTestBlock" id="miniTestBlock1">
          <p class="testTitle" id="testTitel1">Test 11</p>
          <select class="col-xs-8 form-control selectTest" id="selectTest1">
            <option class="optionTest" id="optionTest1">Hello</option>
          </select>
          <div class="cross" id="cross1">X</div>
        </div> -->
      </div>
      <p class="addButton" onclick="addTest()">+Add Tests</p>
    </div>
  </div>
  <!-- 







   -->
  <div class="rightForm formDiv">
    <div class="form-group">
      <label for="state" class="control-label col-xs-4">State</label>
      <div class="col-xs-8">
        <select id="state" name="state" class="select form-control" required="required" onchange="checkState()">
          <option value="Andhra Pradesh">Andhra Pradesh</option>
          <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
          <option value="Arunachal Pradesh">Arunachal Pradesh</option>
          <option value="Assam">Assam</option>
          <option value="Bihar">Bihar</option>
          <option value="Chandigarh">Chandigarh</option>
          <option value="Chhattisgarh">Chhattisgarh</option>
          <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
          <option value="Daman and Diu">Daman and Diu</option>
          <option value="Delhi">Delhi</option>
          <option value="Lakshadweep">Lakshadweep</option>
          <option value="Puducherry">Puducherry</option>
          <option value="Goa">Goa</option>
          <option value="Gujarat">Gujarat</option>
          <option value="Haryana">Haryana</option>
          <option value="Himachal Pradesh">Himachal Pradesh</option>
          <option value="Jammu and Kashmir">Jammu and Kashmir</option>
          <option value="Jharkhand">Jharkhand</option>
          <option value="Karnataka" selected>Karnataka</option>
          <option value="Kerala">Kerala</option>
          <option value="Madhya Pradesh">Madhya Pradesh</option>
          <option value="Maharashtra">Maharashtra</option>
          <option value="Manipur">Manipur</option>
          <option value="Meghalaya">Meghalaya</option>
          <option value="Mizoram">Mizoram</option>
          <option value="Nagaland">Nagaland</option>
          <option value="Odisha">Odisha</option>
          <option value="Punjab">Punjab</option>
          <option value="Rajasthan">Rajasthan</option>
          <option value="Sikkim">Sikkim</option>
          <option value="Tamil Nadu">Tamil Nadu</option>
          <option value="Telangana">Telangana</option>
          <option value="Tripura">Tripura</option>
          <option value="Uttar Pradesh">Uttar Pradesh</option>
          <option value="Uttarakhand">Uttarakhand</option>
          <option value="West Bengal">West Bengal</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="city" class="control-label col-xs-4">City </label>
      <div class="col-xs-8">
        <select id="city" name="city" required="required" class="select form-control" aria-describedby="sampleHelpBlock"
          onchange="checkCity()">
          {% for row in locationData %}
          <option value="{{ row[1] }}">{{ row[1] }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group" id="otherCityInput" style="display:none;">
      <label for="otherCity" class="control-label col-xs-4" style="color:rgb(0, 94, 255);">Other City
      </label>
      <div class="col-xs-8">
        <input id="otherCity" name="otherCity" placeholder="Other City" type="text" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="address" class="control-label col-xs-4">Address </label>
      <div class="col-xs-8">
        <textarea id="address" name="address" cols="40" rows="5" class="form-control"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="pincode" class="control-label col-xs-4">Pin Code </label>
      <div class="col-xs-8">
        <input id="pincode" name="pincode" placeholder="Pin Code" type="number" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="phno" class="control-label col-xs-4">Phone No </label>
      <div class="col-xs-8">
        <input id="phno" name="phno" placeholder="Phone Number" type="number" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="control-label col-xs-4">Email </label>
      <div class="col-xs-8">
        <input id="email" name="email" placeholder="Email" type="email" class="form-control">
      </div>
    </div>
    <div class="form-group" style="display: flex;margin-top: 25px;">
      <div class="col-xs-offset-4 col-xs-4">
        <button name="submit" id="submit-btn" type="submit" class="btn btn-primary">Create</button>
      </div>
      <div class="col-xs-offset-0 col-xs-4">
        <button id="resetBtn" name="reset" type="reset" class="btn btn-danger"
          onclick="resetDynamicTest()">Reset</button>
      </div>
    </div>
  </div>
</form>


<!-- modal -->
<div class="modal fade" id="EmptyTestErrorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- modal for form submission -->
<div class="modal fade" id="formSubmittedModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Message</h5>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="closeFormModal()">Close</button>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- <script src="{{ url_for('static',filename='script/createTest.js') }}"></script> -->
<script type="text/javascript">
  let numTests = 0; // keep track of the number of tests added
  addTest();

  function addTest() {
    numTests++; // increment the test counter
    const miniTestBlock = document.createElement("div");
    miniTestBlock.classList.add("miniTestBlock");
    miniTestBlock.id = "miniTestBlock" + numTests;

    const testTitle = document.createElement("p");
    testTitle.classList.add("testTitle");
    testTitle.id = "testTitle" + numTests;
    testTitle.innerText = "Test " + numTests;

    const selectTest = document.createElement("select");
    selectTest.classList.add("col-xs-8", "form-control", "selectTest");
    selectTest.id = "selectTest" + numTests;
    // selectTest.name = "selectTest" + numTests;
    selectTest.name = "selectTest";

    let testData = JSON.parse('{{ clinicalTestData|safe }}');
    testData.forEach((test, index) => {
      const option = document.createElement("option");
      option.classList.add("optionTest");
      option.id = `optionTest${index+1}`;
      option.innerText = test;
      option.value = test;
      selectTest.appendChild(option);
    });

    const cross = document.createElement("div");
    cross.classList.add("cross");
    cross.id = "cross" + numTests;
    cross.innerText = "X";

    cross.addEventListener("click", () => {
      let selects = document.getElementsByClassName('selectTest');
      if (selects.length == 1) {
        $('#EmptyTestErrorModal .modal-body').text('Atleast one Test is required');
        $('#EmptyTestErrorModal').modal('show');
      } else {
        miniTestBlock.remove();
      }
    });

    miniTestBlock.appendChild(testTitle);
    miniTestBlock.appendChild(selectTest);
    miniTestBlock.appendChild(cross);

    document.getElementById('testBlock').appendChild(miniTestBlock);
  }



  function closeModal() {
    $('#EmptyTestErrorModal').modal('hide');
  }

  function closeFormModal() {
    $('#formSubmittedModal').modal('hide');
    location.reload();
  }

  function resetDynamicTest() {
    $('#testBlock').html(true);
    numTests = 0;
    addTest();
  }


  $(document).ready(function () {
    $('#createTestForm').submit(function (e) {
      e.preventDefault();
      var form_data = $(this).serialize();
      $.ajax({
        type: 'POST',
        url: '',
        data: form_data,
        success: function (response) {
          // handle the response
          if (response) {
            // if the response is successful, do something
            $('#formSubmittedModal .modal-header').addClass('modalSuccess')
            $('#formSubmittedModal .modal-body').text('Form Submitted Successfully!');
            $('#formSubmittedModal').modal('show');
            document.getElementById("resetBtn").click();
            window.history.replaceState({}, '', window.location.href);
          } else {
            // if the response is not successful, do something
            $('#formSubmittedModal .modal-header').removeClass('modalSuccess')
            $('#formSubmittedModal .modal-body').text('Form Submission Failed!');
            $('#formSubmittedModal').modal('show');
          }
        },
        error: function () {
          // handle any errors that occur during the AJAX request
          $('#formSubmittedModal .modal-header').removeClass('modalSuccess')
          $('#formSubmittedModal .modal-body').text('An error occurred while submitting the form.');
          $('#formSubmittedModal').modal('show');
        }
      });
    });
  });

  function checkCity() {
    let selectedState = document.getElementById("city");
    selectedStateValue = selectedState.options[selectedState.selectedIndex].value;
    if (selectedStateValue != "Other") {
      document.getElementById("otherCityInput").style.display = "none";
    } else {
      document.getElementById("otherCityInput").style.display = "block";
    }
  }

  function newSpecies() {
    let selectedState = document.getElementById("species");
    selectedStateValue = selectedState.options[selectedState.selectedIndex].value;
    if (selectedStateValue == "Other") {
      document.getElementById("otherSpeciesInput").style.display = "block";
    } else {
      document.getElementById("otherSpeciesInput").style.display = "none";
    }
  }

  function newSpecimen() {
    let selectedState = document.getElementById("sample");
    selectedStateValue = selectedState.options[selectedState.selectedIndex].value;
    if (selectedStateValue == "Other") {
      document.getElementById("otherSpecimenInput").style.display = "block";
    } else {
      document.getElementById("otherSpecimenInput").style.display = "none";
    }
  }

  function formReset() {
    document.getElementById("otherCityInput").style.display = "none";
    document.getElementById("otherSpeciesInput").style.display = "none";
    document.getElementById("otherSpecimenInput").style.display = "none";
  }
</script>
{% endblock body %}