input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
.createTestForm{
    background-color: #f4f4f4;
    padding:25px 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}