@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #ececec;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

p {
    cursor: context-menu;
}

.containerBody {
    margin: auto;
    min-width: 700px;
    max-width: fit-content;
    height: fit-content;
    padding: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
}

.containerBody img {
    width: 300px;
}

.containerBody .loginTab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

/* 



*/
/* Dashboard */
/* 


*/
.dashboard{
    position: relative;
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ffffff;
    display: flex;
    padding:30px 10px 15px 10px;
}
.dashboard .centerDivider{
    width: 10px;
    height: 100px;
    border-radius: 50px;
    background-color: #808080;
    color: #808080;
    align-self: center;
    cursor: context-menu;
}
.dashboard .rightDashboard {
    min-width: 25%;
    max-width: 25%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap:15px;
}
.dashboard .rightDashboard .cards{
    width: 80%;
    height: 145px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    color: rgb(29, 29, 29);
    font-weight: bolder;
    font-size: 3em;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.dashboard .rightDashboard .card1{
    background: linear-gradient(55deg, rgb(253, 54, 133) 0.00%, rgb(254, 207, 215) 100.00%);
}
.dashboard .rightDashboard .card2 {
    background: linear-gradient(132deg, rgb(255, 206, 236) 0.00%, rgb(151, 150, 240) 100.00%);
}
.dashboard .rightDashboard .card3 {
    background: linear-gradient(216deg, rgb(251, 251, 255) 0.00%, rgb(215, 223, 252) 62.62%);
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
}
.dashboard .rightDashboard .cards .numberCount{
    color: #282828;
    position: absolute;
    top:-13%;
    left:-5%;
    padding:30px 30px 10px 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border: none;
    outline: none;
    transition: all 0.15s ease-in-out;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
}
.dashboard .rightDashboard .cards .numberCount:hover{
    transform: scale(1.1);
}
.dashboard .rightDashboard .cards .title{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    align-self: flex-end;
    color: white;
    font-size: 2vw;
}
.dashboard .leftDashboard{
    min-width: 75%;
    max-width: 75%;
    height: 100%;
    background-color: transparent;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
}
.dashboard .leftDashboard .dashBoardNavbar{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: fit-content;
    padding:10px 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    gap: 5px;
    background: linear-gradient(132deg, rgb(65, 80, 95) 0.00%, rgb(36, 37, 38) 100.00%);
}
.dashboard .leftDashboard .dashBoardNavbar button{
    width: fit-content;
    position: relative;
    text-align: center;
    outline: none;
    background-color: white;
    border: none;
    padding:10px 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.25s ease-in-out;
}
.dashboard .leftDashboard .dashBoardNavbar button:hover{
    transform: scale(1.1);
}
.dashboard .leftDashboard .graphBody{
    width: 95%;
    height: 60vh;
    /* height: fit-content; */
    background-color: rgb(255, 224, 183);
    background-color: #f4f4f4;
    /* background: linear-gradient(132deg, rgb(227, 244, 253) 0.00%, rgb(170, 209, 226) 100.00%); */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
}
.dashboard .leftDashboard .graphBody i{
    animation: 2s rotation infinite linear;
    font-size: 36px;
}
@keyframes rotation{
    from{
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}
.dashboard .leftDashboard .graphBody1{
    display: flex;
}
/* .modebar{
    display: none;
} */
.js-plotly-plot .plotly .modebar-group {
    display: none;
}
.js-plotly-plot .plotly .modebar-group:nth-child(3) {
    display: block;
}
.anychart-credits {
    display: none;
}
.dashboard .leftDashboard .graphBody2{
    display: none;
}
.dashboard .leftDashboard .graphBody3{
    display: none;
}
.dashboard .leftDashboard .graphBody2{
    width: 1000px;
    height: 400px;
    overflow: auto;
    padding: 20px 20px 50px 20px;
}
.dashboard .leftDashboard .graphBody2 .calenderGraphBody{
    width: 100%;
    min-height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding:50px 0px; */
}